.App {
	text-align: center;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
	/* flex */
	display: flex;
}

.hide {
	display: none;
}

.Link {
	text-decoration: none;
	width: 10%;
}
