.new-wrapper {
	width: 100%;
	box-sizing: border-box;
	background: rgba(255, 184, 0, 0.27);
	display: flex;
	flex-direction: column;
}

.new-header {
	height: 10%;
	background: #22217a;
	color: white;
}

.new-form {
	height: 80%;
	width: 100%;
	position: relative;
	/* flex */
	display: flex;
}
.new-left-section {
	height: 100%;
	flex: 1;
	padding-top: 3%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.new-right-section {
	height: 100%;
	flex: 1;
	padding-top: 3%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.new-left-section-input {
	flex: 1;
	font-size: 1.5em;
}
.new-left-section-input input {
	background: #c0a4fc;
	border-radius: 10px;
	height: 30px;
}

.dropzone-wrapper {
	width: 200px;
	border: dotted 1px purple;
}

.dropzone-wrapper div {
	height: 100%;
	width: 100%;
}

.dropzone-wrapper p {
	font-size: 1em;
	font-weight: bolder;
}
.tags-section {
	width: 100%;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tags-wrapper {
	width: 70%;
	height: 311px;
	background: #c0a4fc;
	box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	/* flex */
	display: flex;
}

.tags-column {
	flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
}

.checkbox {
	height: 20px;
	width: 20px;
	border-style: none;
}

.validation {
	position: absolute;
	bottom: 0;
}

.onsale-section div input {
	background: #c0a4fc;
	border-radius: 10px;
	height: 30px;
}
